@import '../../scss/constant';

.profile {
  &__input:focus {
    box-shadow: none !important;
    border-color: $primaryColor !important;
  }
  &__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  &__buttonUnhandled {
    background-color: $thirdColor;
    box-shadow: none;
    border: none;
    color: white;
    padding: 10px 8px;
    border-radius: $borderRadiusPrimary;
    transition: 0.3s all;
  }
  &__button {
    background-color: $secondColor;
    box-shadow: none;
    border: none;
    color: white;
    padding: 8px;
    border-radius: $borderRadiusPrimary;
    transition: 0.3s all;

    &:hover {
      background: $primaryColor;
    }

    &:focus {
      background: $primaryColor;
      box-shadow: none;
    }

    &:active {
      background: $primaryColor;
      box-shadow: none;
    }
  }

  &__labels {
    font-size: 11px;
  }
}
