<!-- <div class="main">
  <div class="main-left">
    <div class="title-app">
      <div class="name-app">
        APP DEMO SOCKET
      </div>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div class="search-chat">
      <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <button matPrefix mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>search</mat-icon>
          </button>
          <input matInput placeholder="Chau Van Kiet">
        </mat-form-field>
      </form>
    </div>
    <div class="menu-chat-chose">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="history">
          <mat-icon>history</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="group">
          <mat-icon>group</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="contacts">
          <mat-icon>contacts</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="list-messages-chat">
      <div class="list-messages" *ngFor="let item of listMessagesChat; let i=index">
        <div class="avartar">
          <img [src]="item.avartar" alt="">
        </div>
        <div class="detail-message">
          <div class="name-user">{{item.name}}</div>
          <div class="info-message">{{item.message}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-selector">
    <div class="main-header">

    </div>
    <div class="chat-list">
      <mat-list id="scrollMe">
        <div *ngFor="let message of messages" class="list-message"
          [ngClass]="(message.from?.id === user?.id)?'pull-right':'pull-left'">
          <mat-list-item
            [ngStyle]="{'background-color': colorTheme&& colorTheme.length>0?colorTheme:'#E8EAF6', 'color':colorTheme && colorTheme.length>0?'#ffffff':'#000'}">
            <h4 mat-line *ngIf="message.action === undefined">
              <b>{{message.from?.name}}</b>
            </h4>
            <p mat-line *ngIf="message.action === undefined">
              <span> {{message.content}} </span>
            </p>
            <p mat-line *ngIf="message.action === action.JOINED" class="chat-notification">
              <span> <b>{{message.from?.name}}</b> đã tham gia vào cuộc trò chuyện. </span>
            </p>
            <p mat-line *ngIf="message.action === action.CHANGETHEME" class="chat-notification">
              <span> <b>{{message.from?.name}}</b> đã thay đổi chủ đề cuộc trò chuyện. </span>
            </p>
            <p mat-line *ngIf="message.action === action.CHANGECOLOR" class="chat-notification">
              <span> <b>{{message.from?.name}}</b> đã thay đổi nền đại diện. </span>
            </p>
            <p mat-line *ngIf="message.action === action.RENAME" class="chat-notification">
              <span> <b>{{message.content.previousUsername}}</b> đã thay đổi tên thành
                <b>{{message.content.username}}</b>
              </span>
            </p>
            <div class="time-line">{{message.time}}</div>
          </mat-list-item>
        </div>
      </mat-list>
    </div>
    <div class="chat-footer-container">
      <mat-form-field class="full-width">
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="0" cdkAutosizeMaxRows="0.5" #autosize="cdkTextareaAutosize"
          matInput #inputMessage placeholder="Vui lòng nhập nội dung tin nhắn...." [(ngModel)]="messageContent"
          (keydown.enter)="sendMessage(messageContent)"></textarea>
        <button (click)="sendMessage(inputMessage.value)" mat-icon-button
          aria-label="Example icon button with a vertical three dot icon">
          <mat-icon matSuffix>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="main-right">
    <div class="info-user-chat" *ngIf="user?.name || user?.name.length>0">
      <div class="avatar-user" (click)="openViewImageAvatar()" matTooltip="Xem chi tiết hình ảnh">
        <img mat-list-avatar [src]="user?.avatar" [ngStyle]="{'background-color': '#'+user?.color}">
      </div>
      <div class="info-user" mat-line>
        {{user?.name}}
      </div>
    </div>
    <div class="chat-option" *ngIf="user?.name || user?.name.length>0">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateRight = true" (closed)="panelOpenStateRight = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tùy chỉnh đoạn chat
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list [multiple]="false">
            <mat-list-option (click)="openChoseThemeColor('theme')">
              <div class="list-option">
                <mat-icon>format_color_fill</mat-icon>
                <mat-label>Đổi chủ đề</mat-label>
              </div>
            </mat-list-option>
            <mat-list-option (click)="onClickUserInfo()">
              <div class="list-option">
                <mat-icon>edit</mat-icon>
                <mat-label>Chỉnh sửa họ tên</mat-label>
              </div>
            </mat-list-option>
            <mat-list-option (click)="openChoseThemeColor('avatar')">
              <div class="list-option">
                <mat-icon>color_lens</mat-icon>
                <mat-label>Đổi màu đại diện</mat-label>
              </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenStateRight = true" (closed)="panelOpenStateRight = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              File phương tiện, file và liên kết
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Đang phát triển</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenStateRight = true" (closed)="panelOpenStateRight = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Quyền riêng tư & hỗ trợ
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Đang phát triển</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
